In [1]:
import pandas as pd
import numpy as np
import json
import csv

In [2]:
filename = 'iot-tweets-2009-2016-complet-enrichie.tsv'

In [3]:
# read file
data = pd.read_csv(filename,sep='\t', na_values=['null','None','',], dtype=object)

# Graphe:  tweets - (reply to) -> tweets

In [5]:
# list unique tweet id's
tweets= set(data['TweetID'])

In [6]:
len(tweets)

6705948

In [17]:
# relation tweet - (replyto) -> tweet
replies = data[data['in_reply_to_status_id'].notnull()]

In [25]:
print(len(replies))
totrows = list(replies['in_reply_to_status_id'])
totrows2 = set(replies['in_reply_to_status_id'])
# replies id's which are not in column TweetID
tweets_not_in_corpus = totrows2-tweets
len(totrows), len(totrows2), len(tweets_not_in_corpus)

121170

(121170, 111474, 60848)

In [34]:
# get replies that are in the corpus
replies2 = replies.loc[~replies['in_reply_to_status_id'].isin(tweets_not_in_corpus)]

In [35]:
len(replies2)

57766

In [40]:
#create graph file
filename2 = 'replies_tweet2.txt'
n = len(tweets)
m = len(replies2)
f = open(filename2,'w')
f.write(str(n) + " " + str(m) +"\n")
for t in tweets:
    f.write(t+"\n")
for index,row in replies2.iterrows():
    f.write(row['TweetID']+" "+row['in_reply_to_status_id']+"\n")
f.close()

# Graphe: user - (reply to) -> user

In [54]:
# map [tweetID] -> userID
users = set(data[data['User_ID'].notnull()]['User_ID'])
replies_users = data[data['in_reply_to_user_id'].notnull()]

In [55]:
len(users), len(replies_users)

(604049, 250061)

In [57]:
print(len(replies_users))
totrows = list(replies_users['in_reply_to_user_id'])
totrows2 = set(replies_users['in_reply_to_user_id'])
# users id's which are not in column UserID
users_not_in_corpus = totrows2-users
len(totrows), len(totrows2), len(users_not_in_corpus)

250061

(250061, 85802, 36491)

In [59]:
len(replies_users[replies_users['User_ID'].notnull()])

250061

In [95]:
# get users replied that are in the corpus
replies_users2 = replies_users.loc[~replies_users['in_reply_to_user_id'].isin(users_not_in_corpus)]

In [96]:
#create graph file
filename3 = 'replies_user2.txt'
n = len(users)
m = len(replies_users)
f = open(filename3,'w')
f.write(str(n) + " " + str(m) +"\n")
for user in users:
    f.write(user+"\n")
for index, row in replies_users2.iterrows():
    f.write(row['User_ID'] + " " + row['in_reply_to_user_id'] +"\n")
f.close()

## Map usernames

In [ ]:
usersname = dict()
tt= data[data['User_ID'].notnull()][['User_ID','User_Name']].drop_duplicates()
for index,row in tt.iterrows():
    usersname[row['User_ID']] = row['User_Name']

In [98]:
#create graph file with usernames instead of IDs
filename3 = 'replies_username.txt'
n = len(users)
m = len(replies_users)
f = open(filename3,'w')
f.write(str(n) + " " + str(m) +"\n")
for user in users:
    f.write(usersname[user]+"\n")
for index, row in replies_users2.iterrows():
    f.write(row['User_Name'] + " " + usersname[row['in_reply_to_user_id']] +"\n")
f.close()

In [84]:
tt= data[data['User_ID'].notnull()][['User_ID','User_Name']].drop_duplicates()

In [85]:
len(usersname), len(users), len(tt)

(431716, 604049, 604478)

In [89]:
len(set(tt['User_ID'])), len(set(tt['User_Name']))

(604049, 604129)

In [94]:
data[data['User_ID']=='1208861']

Empty DataFrame
Columns: [TweetID, Sentiment, TopicID, Country, Gender, URLs, Text, User_ID, User_Name, Date, Hashtags, in_reply_to_status_id, Indication, Retweeted, Geo, Location, in_reply_to_user_id]
Index: []