# Rapport 1
## Goals:
1. Corpus Analysis
2. Graphs creation
3. Searching connected components

In [2]:
import pandas as pd
from IPython.display import HTML

In [33]:
texts = ['Total Tweets', 'Tweets with reply ref', 'Unique Tweets with reply ref', 'Replies in corpus']
remarks = ['', '', '', '47.67% of total replies']
qtes = [6705948,121170,111474, 57766]
pctges = [ round(100*q/qtes[0],2) for q in qtes]

df = pd.DataFrame({'Type': texts, '#': qtes, '%':pctges, 'Remarks':remarks})
df

                           Type        #       %                  Remarks
0                  Total Tweets  6705948  100.00
1         Tweets with reply ref   121170    1.81
2  Unique Tweets with reply ref   111474    1.66
3             Replies in corpus    57766    0.86  47.67% of total replies

#  Tweets Stats

In [34]:
HTML(df.to_html(classes='table table-striped table-hover'))

In [40]:
texts = ['Total Unique Users ID', 'Users with reply ref', 'Unique Users with reply ref', 'Replies in corpus']
remarks = ['', '', '', '77.15% of total replies']
qtes = [604049,250061,85802,  192922]
pctges = [ round(100*q/qtes[0],2) for q in qtes]

df = pd.DataFrame({'Type': texts, '#': qtes, '%':pctges, 'Remarks':remarks})
df

                          Type       #       %                  Remarks
0        Total Unique Users ID  604049  100.00
1         Users with reply ref  250061   41.40
2  Unique Users with reply ref   85802   14.20
3            Replies in corpus  192922   31.94  77.15% of total replies

# Users Stats

In [41]:
HTML(df.to_html(classes='table table-striped table-hover'))

# Created files
- **Tweets graph's** : tweet_x -- (reply_to) --> tweet_y
- **Users graph's** : user_id_x -- (reply_to) --> user_id_y
- **Username graph's** : username_x -- (reply_to) --> username_y

> A database Neo4J was also generated for easier/faster references,  for future processing queries

# Connected Components
- 6645627 component in total
- 10023 components >2 tweets  (0.15 %)

In [5]:
long = [  3,   5,   6,   4,   8,  13,   9,  11,  10,  19,   7,  12,  15,
         14,  50,  18,  26,  38,  17,  23,  16,  28, 105,  21,  35,  70,
         20,  33,  22,  51 ]
qtes = [7069,  565,  302, 1657,   69,   14,   49,   31,   28,    2,  149,
          24,   11,   17,    1,    3,    2,    1,    6,    3,    4,    2,
           1,    3,    1,    2,    4,    1,    1,    1]
df = pd.DataFrame({'Size component (# tweeets)': long, '# components': qtes})
df

    Size component (# tweeets)  # components
0                            3          7069
1                            5           565
2                            6           302
3                            4          1657
4                            8            69
5                           13            14
6                            9            49
7                           11            31
8                           10            28
9                           19             2
10                           7           149
11                          12            24
12                          15            11
13                          14            17
14                          50             1
15                          18             3
16                          26             2
17                          38             1
18                          17             6
19                          23             3
20                          16             4
21                          28             2
22                         105             1
23                          21             3
24                          35             1
25                          70             2
26                          20             4
27                          33             1
28                          22             1
29                          51             1

In [6]:
HTML(df.to_html(classes='table table-striped table-hover'))

## Example CC 70 tweet:
![caption](files/cc1.png)

## Example CC 70 tweet:
![caption](files/cc2.png)

## Example CC 51 tweet:
![caption](files/cc3.png)